<h3>CalculatorComponent</h3>
<p> this component will help covert between celsius to fh</p>

<div class="mb-3">
    <label class="form-label">Amount</label>
    <NumberInput TValue="int" @bind-Value="@amount" Placeholder="Enter amount" />
</div>
<div class="mb-3">Entered Amount: @amount</div>


@code {
    private int amount;

    private decimal convertCtoF(decimal celsius)
    {
        return (celsius * (9 / 5)) + 32;
    }
}



