<h3>FeetToCm</h3>

<div class="mb-3">
    <label class="form-label">Amount(feet)</label>
    <NumberInput TValue="int" @bind-Value="@feet" Placeholder="Enter amount" />

    <label class="form-label">Amount(inches)</label>
    <NumberInput TValue="int" @bind-Value="@inches" Placeholder="Enter amount" />

    <Button @onclick="() => FeetTooCm(feet,inches)"> calculate </Button>

</div>
<div class="mb-3">Entered Amount: @centimeters</div>

@code {
    private int feet = 0;
    private int amount;
    private int inches = 0;
    private decimal centimeters;
    private decimal FeetTooCm(int feet, int inches)
    {
        decimal ret = 0;
        ret = feet * 12;
        ret = ret + inches;
        ret = ret * 2.54m;
        centimeters = ret;
        return ret;
    }
    //
}